# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# For Mac OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
*.swp

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# The dependency file created by the compiler.
.depend
sqliter
query_test
db1/*
src/lex.yy.c
src/parser.tab.cpp
src/parser.tab.hpp
